.portfolio_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.off {
  width: 100%;
  height: calc(1em + 1vh);
}

.portfolio_container-items {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.portfolio-section_container-items-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: auto;
  z-index: -1;
}

.portfolio-section_container-items-logo img {
  height: 9vh;
  transform: rotate(270deg);
}

.portfolio_container-items-card {
  width: 91vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: calc(18em + 5vw);
  height: calc(28em + 15vh);
  margin: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-main);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: calc(0.4em + 1vh);
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.info-container-items {
  height: calc(12em + 2vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.info-btn {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-btn button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 2.5em;
  border: none;
  background-color: white;
  font-size: calc(0.2em + 1vh);
  font-weight: 600;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.info-btn a{
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.info-btn button:hover{
transform: scale(1.1);
}
@media screen and (max-width: 1050px) {
  .portfolio_container {
    height: auto;
  }
  .portfolio-section_container-items-logo {
    display: none;
  }
  .portfolio_container-items-card {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 98vw;
    height: calc(30em + 15vh);
    font-size: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }
  .info-container-items {
    height: calc(12em + 2vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
}

@media screen and (max-width: 500px){
  .portfolio_container {
    height: auto;
  }
  .card {
    width: 98vw;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-main);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }
}