* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color-main: #ffcc00;
  --box-shadow: 2px 5px 5px rgb(194, 193, 193);
  --p-size: 1.2em;
  --title-font-size: 1.3em;
  --title-font-weight: 700;
  --transform-btn: scale(1.2);
  --border-radius: 5px;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

